services:
  - type: worker
    name: jwv-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: X_BEARER_TOKEN
        sync: false
      - key: X_API_KEY
        sync: false
      - key: X_API_SECRET
        sync: false
      - key: X_ACCESS_TOKEN
        sync: false
      - key: X_ACCESS_SECRET
        sync: false
